html {
    box-sizing: border-box;
    padding: 20px 20%;
}

*, *:before, *:after {
    margin: 0;;
    box-sizing: inherit;
}

#main-container {
    border: 3px black solid;
    height: auto;
}

#top-container {
    /* border: 2px red solid; */
    height: 20%;
    padding: 30px 10px;
}

#bottom-container {
    /* border: 2px blue solid; */
    height: 80%;
}

.accordion {
    height: 25%;
    border: 2px red solid;
}

.question {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#answer-1 {
    padding: 20px 10px;
    display: none;
}

#answer-2 {
    padding: 20px 10px;
    display: none;
}

#answer-3 {
    padding: 20px 10px;
    display: none;
}

#answer-4 {
    padding: 20px 10px;
    display: none;
}

.minus {
    display: none;
}